:root {
    --color1: #4a090a;
    --color2: #812007;
    --color3: #1f77ce;
    --color4: #d1e3ed;
    --color5: #f8efed;
}

.tabla-crud{
    width: 90%;
    height: 80vh;
    margin: 20px auto;
    border-radius: 10px;
    background: linear-gradient(to top, #d1e3ed, #f8efed);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
}

.tabla-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.tabla-header {
    color: var(--color1);
}

/* ==== Botón Insertar ==== */
#btnInsertar {
    background-color: var(--color3);
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-bottom: 5px;
}

#btnInsertar:hover {
    background-color: var(--color2);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#btnToggleTipo {
    background-color: var(--color3);
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-bottom: 5px;
}

#btnToggleTipo:hover {
    background-color: var(--color2);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* ==== Tabla ==== */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    animation: fadeIn 0.6s ease forwards;
}

thead {
    background-color: var(--color3);
    color: #fff;
}

thead th {
    padding: 6px;
    text-align: center;
}

tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: var(--color1);
    font-size: 14px;
}

tbody tr:hover {
    background-color: var(--color4);
    transition: background-color 0.3s ease;
}

tbody .btnEditar, tbody .btnBorrar, tbody .btnAceptarPrestamo, tbody .btnVerUbicacion, tbody .btnMarcarDevuelto, tbody .btnSancionar{
    padding: 5px 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    margin: 2px;
    transition: all 0.3s ease;
}

tbody .btnAceptarPrestamo, tbody .btnVerUbicacion, tbody .btnMarcarDevuelto{
    background-color: #1f169c;
    color: #fff;
}

tbody .btnAceptarPrestamo:hover, tbody .btnVerUbicacion:hover, tbody .btnMarcarDevuelto:hover{
    background-color: #120d58;
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

tbody .btnSancionar{
    background-color: #b60205;
    color: #fff;
}

tbody .btnSancionar:hover{
    background-color: #6b0102;
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

tbody .btnEditar {
    background-color: var(--color3);
    color: #fff;
}

tbody .btnEditar:hover {
    background-color: var(--color2);
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

tbody .btnBorrar {
    background-color: var(--color2);
    color: #fff;
}

tbody .btnBorrar:hover {
    background-color: var(--color3);
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* Ajustes DataTables */
table.dataTable thead{
    width: 100%;
}

table.dataTable th,
table.dataTable td {
    padding: 12px 15px; /* Más espacio */
    text-align: left;
}

table.dataTable {
    width: 100%;
    border-collapse: collapse;
}

/* Scroll horizontal */
.dataTables_wrapper .dataTables_scroll {
    overflow-x: auto;
}

/* Paginar */
.dataTables_wrapper .dataTables_paginate {
    margin-top: 5px;
}

/* MODAL */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 1000;
}


.modal-content {
    background-color: var(--color5);
    padding: 30px;
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    position: relative;
    animation: scaleIn 0.4s ease forwards;
}

.modal-content h2 {
    margin-bottom: 5px;
    color: var(--color1);
}

.modal-content .close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    color: var(--color1);
    transition: color 0.3s ease;
}

.modal-content .close:hover {
    color: var(--color3);
}

/* ==== Inputs y selects ==== */
.modal-content input, 
.modal-content select, 
.modal-content textarea {
    width: 100%;
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 8px;
    border: 1px solid var(--color2);
    transition: all 0.3s ease;
}

.modal-content input:focus,
.modal-content select:focus,
.modal-content textarea:focus {
    outline: none;
    border-color: var(--color3);
    box-shadow: 0 0 5px var(--color3);
}

/* Botones dentro del modal */
.modal-content button {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
}

/* Botón Guardar */
.modal-content button[type="submit"] {
    background-color: var(--color3);
    color: #fff;
}

.modal-content button[type="submit"]:hover {
    background-color: #185da1;
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* Botón Cancelar */
.modal-content button#btnCancelar {
    background-color: #e74c3c;
    color: #fff;
}

.modal-content button#btnCancelar:hover {
    background-color: #c0392b;
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/**/
/* Modal */
#modalUbicacion.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

/* Contenido del modal */
#modalUbicacion .modal-content {
    background-color: var(--color5);
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    max-width: 700px;
    width: 90%;
}

/* Cerrar modal */
.closeUbicacion {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--color1);
    cursor: pointer;
}
.closeUbicacion:hover {
    color: var(--color2);
}

/* Flex para separar columnas */
.ubicacion-flex {
    display: flex;
    gap: 20px;
}

/* Columna izquierda: título + texto */
.ubicacion-info {
    flex: 1;
    text-align: center;
    padding-top: 100px;
}

/* Columna derecha: imagen */
.ubicacion-imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ubicacion-imagen img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* ==== Animaciones ==== */
@keyframes fadeIn {
    from {opacity:0; transform: translateY(20px);}
    to {opacity:1; transform: translateY(0);}
}

@keyframes scaleIn {
    from {opacity:0; transform: scale(0.95);}
    to {opacity:1; transform: scale(1);}
}